@model List<Gimnasio.Models.Producto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Listado de productos";
}

<h1 class="my-3 text-center">Listado de productos</h1>

<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="col-md-3 my-3">
            <div class="card h-100 d-flex flex-column">
                <img class="cad-img-top m-4" style="max-height:200px; width:auto;" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Foto)" alt="@item.Nombre" />
                <div class="card-body ">
                    <h5 class="card-title">@Html.DisplayFor(m => item.Nombre)</h5>
                    <h6>@Html.DisplayFor(m => item.Precio)</h6>
                </div>
                <div class="text-center" style="margin-bottom: 3vh;">
                    <button class="btn btn-secondary text-center"><i class="bi bi-cart-dash fs-4 mx-md-1"></i>Añadir al carrito</button>
                </div>
            </div>
        </div>
    }
</div>
