html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-posicion {
    margin-top: 100px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family:Centaur;
}

.offcanvas {
    background-color: black;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: grey;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

#linkCerrarSesion {
    color: red;
}
/*
    Paleta:
    - Negro: #0F1618
    - Rojo: #DC191B
    - Blanco: #FFFFFF
    - Gris: EDEDED
*/
.fondo-web {
    background-color: #EDEDED;
}

.fondo-headfoot {
    background-color: #0F1618;
}

.nav-item a.nav-link {
    text-decoration: none;
    position: relative;
    color: white;
    transition: color 0.3s ease;
}

.nav-item a.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease, height 0.3s ease;
}

.nav-item a.nav-link:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
    height: 3px;
}

.nav-item a.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.subr:hover::before{
    background-color: green;
}
.dropdown-menu .dropdown-item {
    color: white; 
}

.dropdown-menu .dropdown-item:hover {
    color: black !important; 
    background-color: white !important;
}


.imagen-listado-productos:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.imagen-listado-productos {
    overflow: hidden;
}
.redes-sociales-efecto:hover {
    filter: opacity(.5);
}
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}