@model List<Gimnasio.Models.Actividad>
@{
    ViewData["Title"] = "Actividades";
}
<script type="text/javascript" src="~/js/DataTable.js"></script>

<table id="tblListaProductos" class="table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duración</th>
            <th>Capacidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Descripcion)</td>
                <td>@Html.DisplayFor(m => item.Duracion)</td>
                <td>@Html.DisplayFor(m => item.CapacidadMaxima)</td>
            </tr>
        }
    </tbody>
</table>