@model List<Gimnasio.Models.Actividad>
@{
    ViewData["Title"] = "Actividades";
}
<script src="~/js/DataTableJS.js"></script>

<h2 class="text-center my-3">Listado de actividades</h2>
<div class="row justify-content-center mb-3">
    <div class="col-md-8">
        <table class="table table-striped" id="formatDataTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Duración</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Descripcion)</td>
                        <td>@Html.DisplayFor(m => item.FechaHora)</td>
                        <td class="text-center">@Html.DisplayFor(m => item.Duracion)</td>
                        <td class="text-center"><i class="bi bi-person-fill-add fs-4"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

