
@{
    ViewData["Title"] = "FAQs";
}
<h1 class="text-center my-3">Preguntas frecuentes - FAQs</h1>

<div class="my-4 p-3">
    <p>Bienvenido a nuestra sección de Preguntas Frecuentes (FAQs) donde encontrarás respuestas a las preguntas más comunes sobre nuestros servicios, instalaciones y políticas. Estamos comprometidos a proporcionarte la información necesaria para que aproveches al máximo tu experiencia en nuestro gimnasio.</p>
    <p>Si tienes alguna otra pregunta que no esté cubierta aquí, no dudes en contactarnos. Nuestro equipo estará encantado de ayudarte y brindarte la asistencia que necesites. ¡Estamos aquí para apoyarte en tu viaje hacia una vida más saludable y activa!</p>
</div>

<div class="accordion accordion-flush my-3 border border-3 border-dark shadow" id="accordionFlushExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cuáles son los horarios de apertura y cierre del gimnasio?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nuestro gimnasio está abierto de lunes a viernes desde las 6:00 a.m. hasta las 10:00 p.m., y los fines de semana desde las 8:00 a.m. hasta las 8:00 p.m. Estos horarios están diseñados para adaptarse a las diferentes rutinas diarias de nuestros socios, permitiendo flexibilidad para entrenar en horas tempranas, durante el día o por la noche.</div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Ofrecen clases dirigidas?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sí, en nuestro gimnasio ofrecemos una amplia variedad de clases dirigidas que incluyen spinning, yoga, pilates, zumba, entrenamiento funcional y más. Estas clases son impartidas por instructores altamente cualificados y se programan en diferentes horarios a lo largo del día para satisfacer las preferencias de nuestros socios.</div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Qué equipamiento tienen disponible en el gimnasio?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nuestras instalaciones cuentan con equipamiento de última generación que abarca desde máquinas cardiovasculares hasta pesas libres y máquinas de fuerza. Disponemos de una zona de entrenamiento funcional bien equipada que incluye kettlebells, TRX, bandas de resistencia y áreas específicas para entrenamiento de fuerza y resistencia.</div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                ¿Cómo puedo inscribirme como socio del gimnasio?
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Puedes inscribirte como socio visitando nuestras instalaciones y completando el proceso de registro con nuestro personal de recepción. También ofrecemos la opción de inscripción en línea a través de nuestro sitio web, donde puedes revisar los diferentes planes de membresía y elegir el que mejor se adapte a tus necesidades fitness.</div>
        </div>
    </div>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ¿Ofrecen entrenadores personales?
            </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sí, contamos con un equipo de entrenadores personales certificados que están disponibles para proporcionar entrenamiento personalizado. Nuestros entrenadores están capacitados para ayudarte a establecer metas realistas, diseñar programas de entrenamiento personalizados y brindar orientación y motivación durante todo el proceso de transformación física.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                ¿Cuáles son las medidas de seguridad e higiene que implementan?
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                En nuestro gimnasio, la seguridad y la limpieza son prioridades. Implementamos medidas exhaustivas de limpieza y desinfección en todas nuestras áreas, incluyendo máquinas, equipos, vestuarios y zonas comunes. Además, ofrecemos desinfectantes para manos y toallas desinfectantes para que nuestros socios las utilicen antes y después de cada entrenamiento.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                ¿Se pueden reservar clases con anticipación?
            </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sí, ofrecemos un sistema de reservas en línea a través de nuestro sitio web o una aplicación móvil dedicada. Los socios pueden reservar su lugar en las clases dirigidas preferidas con anticipación, lo que garantiza disponibilidad y permite planificar sus rutinas de entrenamiento de manera eficaz.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                ¿Tienen área de vestuarios y duchas disponibles?
            </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sí, contamos con amplios vestuarios separados por género equipados con duchas, taquillas y áreas de cambio. Nuestros vestuarios están diseñados para brindar comodidad y privacidad a nuestros socios, facilitando la transición antes y después de los entrenamientos.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                ¿Ofrecen programas especiales para principiantes?
            </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sí, entendemos que comenzar en un gimnasio puede ser intimidante para algunos. Por eso, ofrecemos programas especializados para principiantes que incluyen sesiones introductorias con entrenadores personales, orientación sobre el uso adecuado de equipos y clases diseñadas para desarrollar una base sólida en fitness.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                ¿Cuál es la política de cancelación de membresía?
            </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                La cancelación de la membresía está sujeta a ciertas políticas y puede variar según el tipo de plan de membresía. Para cancelar tu membresía, te recomendamos comunicarte con nuestro equipo de atención al cliente, quienes estarán encantados de guiarte a través del proceso y proporcionarte información detallada sobre cualquier requisito o tarifa asociada.
            </div>
        </div>
    </div>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEleven">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                ¿Cuáles son los beneficios de ser socio del gimnasio?
            </button>
        </h2>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Ser socio de nuestro gimnasio te brinda acceso a todas nuestras instalaciones y servicios, incluyendo entrenamientos con equipamiento de calidad, clases dirigidas por profesionales, asesoramiento personalizado, programas de bienestar y descuentos exclusivos en actividades especiales y productos seleccionados.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwelve">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                ¿Cuál es la duración mínima de una membresía?
            </button>
        </h2>
        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                La duración mínima de nuestras membresías varía según el plan que elijas. Ofrecemos opciones flexibles que van desde membresías mensuales hasta anuales. Consulta con nuestro equipo de recepción para conocer más detalles sobre los diferentes planes disponibles.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThirteen">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                ¿Puedo llevar a un invitado conmigo al gimnasio?
            </button>
        </h2>
        <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sí, ofrecemos la opción de llevar a un invitado con ciertos tipos de membresía. Consulta con nuestro equipo de recepción para conocer las políticas y tarifas asociadas a los invitados.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFourteen">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                ¿Ofrecen servicios de nutrición o dietética?
            </button>
        </h2>
        <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sí, contamos con nutricionistas y especialistas en dietética que pueden brindarte asesoramiento personalizado sobre alimentación saludable, planificación de dietas y suplementación adecuada para optimizar tus resultados de fitness y bienestar.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFifteen">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                ¿Qué debo llevar al gimnasio?
            </button>
        </h2>
        <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Te recomendamos traer ropa deportiva cómoda, zapatillas adecuadas, una toalla, agua potable, y cualquier accesorio personal que necesites para tu entrenamiento (como auriculares, bandas elásticas o guantes para levantamiento de pesas).
            </div>
        </div>
    </div>

</div>