@{
    ViewData["Title"] = "Ubicación";
}

<h1 class="text-center my-3">Ubicación</h1>

<div class="my-3 p-3">
    <p>Aquí puedes encontrar dónde estamos ubicados y cómo llegar a nuestro gimnasio. Estamos comprometidos en ofrecerte un ambiente acogedor y moderno para tu entrenamiento físico.</p>
    <p>Nuestra ubicación está convenientemente situada en Bergondo (A Coruña), siendo fácilmente accesible. Utiliza el mapa interactivo a continuación para obtener indicaciones precisas hasta nuestras instalaciones.</p>
    <p>En Gimnasio Bergondo estamos listos para ayudarte a alcanzar tus metas fitness. Visítanos hoy mismo y descubre por qué somos el lugar ideal para tu estilo de vida activo.</p>
    <p>¡Esperamos verte pronto!</p>
</div>
<div class="text-center map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11610.933076806323!2d-8.236607497508528!3d43.319842801288836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e6f950c0b6061%3A0x6e77685c15b62798!2spistas%20deportivas!5e0!3m2!1ses!2ses!4v1715855527326!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>