@{
    ViewData["Title"] = "Política de Privacidad";
}

<h1 class="text-center">Política de Privacidad</h1>

<p><em>Última actualización: 18/04/2024</em></p>

<p>Bienvenido a <strong>Gimnasio Bergondo</strong>. En esta Política de Privacidad, explicamos cómo recopilamos, usamos y protegemos su información cuando utiliza nuestro sitio web y cualquier producto o servicio relacionado (conjuntamente referidos como "servicios"). Al utilizar nuestros servicios, usted acepta las prácticas descritas en esta política.</p>
<div class="d-grid gap-3">
    <div class="p-3 bg-light border my-2">
        <h2 class="pb-3">Información que Recopilamos</h2>

        <h5>Información que Usted nos Proporciona</h5>

        <p>Recopilamos información que usted nos proporciona directamente, como su nombre, dirección de correo electrónico, información de contacto y cualquier otra información que elija proporcionar al registrarse o utilizar nuestros servicios.</p>

        <h5>Información Recopilada Automáticamente</h5>

        <p>Además de la información que usted nos proporciona, recopilamos automáticamente cierta información sobre su dispositivo y su uso de nuestros servicios, incluyendo, entre otros, su dirección IP, tipo de navegador, páginas visitadas, y la fecha y hora de su visita.</p>

        <h5>Cookies y Tecnologías Similares</h5>

        <p>Utilizamos cookies y tecnologías similares para recopilar información sobre su uso de nuestros servicios y para mejorar su experiencia. Puede configurar su navegador para que rechace todas las cookies o para que le avise cuando se envíe una cookie.</p>
    </div>
    <div class="p-3 bg-light border my-2">
        <h2 class="pb-3">Uso de la Información</h2>

        <p>Utilizamos la información recopilada para:</p>
        <ul>
            <li>Brindar, mantener y mejorar nuestros servicios.</li>
            <li>Comunicarnos con usted y responder a sus consultas y solicitudes.</li>
            <li>Personalizar su experiencia y proporcionarle contenido y anuncios relevantes.</li>
            <li>Realizar análisis y obtener información sobre cómo se utilizan nuestros servicios.</li>
            <li>Cumplir con nuestras obligaciones legales y proteger nuestros derechos y propiedad.</li>
        </ul>
    </div>
    <div class="p-3 bg-light border my-2">
        <h2 class="pb-3">Compartir de la Información</h2>

        <p>No vendemos, alquilamos ni compartimos su información personal con terceros sin su consentimiento, excepto en los siguientes casos:</p>
        <ul>
            <li>Con proveedores de servicios que nos ayudan a operar nuestro negocio y brindarle servicios.</li>
            <li>Cuando sea requerido por ley o en respuesta a una solicitud legal válida.</li>
            <li>Para proteger nuestros derechos, propiedad o seguridad, o los derechos, propiedad o seguridad de otros.</li>
        </ul>
    </div>
    <div class="p-3 bg-light border my-2">
        <h2 class="pb-3">Seguridad de la Información</h2>

        <p>Implementamos medidas de seguridad para proteger su información personal contra pérdida, uso indebido y acceso no autorizado. Sin embargo, tenga en cuenta que ninguna transmisión por Internet o almacenamiento electrónico es completamente segura.</p>
    </div>
    <div class="p-3 bg-light border my-2">
        <h2 class="pb-3">Cambios en esta Política de Privacidad</h2>

        <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos cualquier cambio publicando la Política de Privacidad actualizada en esta página y actualizando la "última actualización" en la parte superior de la página.</p>
    </div>
    <div class="p-3 bg-light border my-2">
        <h2 class="pb-3">Sus Derechos de Privacidad</h2>

        <p>Usted tiene ciertos derechos con respecto a su información personal, incluyendo el derecho a acceder, corregir, eliminar y objetar ciertos usos de su información. Para ejercer estos derechos, por favor contáctenos utilizando la información proporcionada al final de esta política.</p>
    </div>
    <div class="p-3 bg-light border  mt-2 mb-4">
        <h2 class="pb-3">Contacto</h2>

        <p>Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos en <a href="#">contacto@gimnasiobergondo.com</a>.</p>
    </div>
</div>