@model List<Gimnasio.Models.UsuarioActividad>

@{
    ViewData["Title"] = "Info Actividades";
}

<h1 class="text-center my-3">Información de actividades</h1>

<table class="table table-striped table-bordered" id="formatDataTable">
    <thead>
        <tr>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th data-dt-order="disable"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="filaTabla">
                <td>@Html.DisplayFor(m => item.Actividad.Descripcion)</td>
                @{
                    var fecha = DateOnly.FromDateTime(item.Actividad.FechaHora);
                }
                <td>@fecha</td>
                @{
                    var hora = TimeOnly.FromDateTime(item.Actividad.FechaHora);
                }
                <td>@hora</td>
                <td class="text-center"><a class="btn btn-outline-info LinkListaUsuariosActividad" data-idActividad="@item.ActividadId" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-eye-fill"></i></a></td>

            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lista de usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row m-2">
                    <div class="alert alert-info fade show">
                        <strong class="fs-6 p-2 text-center">
                            Datos de la actividad
                        </strong>
                        <ul>
                            <li>Descripción: <span id="descripcionActividad"></span></li>
                            <li>Fecha: <span id="fechaActividad"></span></li>
                            <li>Hora: <span id="horaActividad"></span></li>
                        </ul>
                    </div>
                </div>
                <div id="listaUsuarios"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/DataTableJS.js"></script>
<script src="~/js/ObtenerListado.js"></script>