<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gimnasio Bergondo</title>
    <link rel="icon" href="~/images/logo-black.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Gimnasio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="fondo-web" style="font-family: 'Quicksand', sans-serif;">
    <header>
        <nav class="navbar navbar-expand-md fondo-headfoot fixed-top py-2">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo-white.svg" width="50" height="50" alt="Logo del Gimnasio Bergondo" />
                </a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="row mt-3 order-md-1 d-flex justify-content-around">
                        <li class="nav-item col-6 list-unstyled">
                            <a class="btn btn-outline-primary text-white" asp-controller="Login" asp-action="Index">Iniciar sesión</a>
                        </li>
                        <li class="nav-item col-6 list-unstyled">
                            <a class="btn btn-primary text-white" asp-controller="Usuario" asp-action="Registro">Registrarme</a>
                        </li>
                    </ul>
                }
                <button class="navbar-toggler border-white border-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
                    <i class="bi bi-list text-white fs-1"></i>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header fondo-headfoot">
                        <h3 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menú</h3>
                        <button type="button" class="btn-close btn-light mr-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body fondo-headfoot">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 d-flex justify-content-md-around mr-md-4">
                            <li class="nav-item"><a class="nav-link text-white fs-5" asp-controller="Tarifa" asp-action="Index">Tarifas</a></li>
                            <li class="nav-item"><a class="nav-link text-white fs-5" asp-controller="Actividad" asp-action="Index">Actividades</a></li>
                            <li class="nav-item"><a class="nav-link text-white fs-5" asp-controller="Producto" asp-action="Index">Productos</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("TRABAJADOR"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white fs-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestiones</a>
                                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item text-white" asp-controller="Producto" asp-action="Detalles">Detalles de productos</a></li>
                                            <li><a class="dropdown-item text-white" asp-controller="Producto" asp-action="Create">Agregar producto</a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <li><a class="dropdown-item text-white" asp-controller="UsuarioActividad" asp-action="Listado">Ver actividades</a></li>
                                            <li><a class="dropdown-item text-white" asp-controller="Actividad" asp-action="Create">Agregar actividad</a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <li><a class="dropdown-item text-white" asp-controller="Usuario" asp-action="ListaUsuarios">Datos usuarios</a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <li><a class="dropdown-item text-white" asp-controller="Pedido" asp-action="IndexGestion">Ver pedidos</a></li>
                                        </ul>
                                    </li>
                                }
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white fs-5 " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @User.Identity.Name <i class="bi bi-person-lines-fill"></i>
                                    </a>
                                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item text-white" asp-controller="Carrito" asp-action="Index"><i class="bi bi-cart-dash fs-5 mr-3"></i>Mi carrito</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Pedido" asp-action="Index"><i class="bi bi-bag-check fs-5 mr-3"></i>Ver pedidos</a></li>
                                        <li><div class="dropdown-divider text-white"></div></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Contrato" asp-action="Detalles"><i class="bi bi-folder-fill fs-5 mr-3"></i>Mi contrato</a></li>
                                        <li><div class="dropdown-divider text-white"></div></li>
                                        <li><a class="dropdown-item text-white" asp-controller="UsuarioActividad" asp-action="Index"><i class="bi bi-person-arms-up fs-5 mr-3"></i>Mis actividades</a></li>
                                        <li><div class="dropdown-divider text-white"></div></li>
                                        <li><a class="dropdown-item text-white subr" asp-controller="Usuario" asp-action="Detalles"><i class="bi bi-person-fill fs-5 mr-3"></i>Ver perfil</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Usuario" asp-action="Modificacion"><i class="bi bi-person-fill-gear fs-5 mr-3"></i>Modificar datos</a></li>
                                        <li><a class="dropdown-item" id="linkCerrarSesion" asp-controller="Login" asp-action="Salir"><i class="bi bi-person-fill-dash fs-5 mr-3"></i>Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="container mb-5 nav-posicion">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--
        Footer: 
        - Copyright 
        - Política de privacidad 
        - Mapa del sitio
        - Logo 
        - Iconos redes sociales

        La idea:
        Todo centrado. 
        Primera linea: una linea <hr> con todas las redes sociales
        Debajo el logo
        Debajo lo del copy con el nombre de la empresa
        Por último 3 links en una misma línea: privacidad, mapa y FAQs
    -->

    <footer class="border-top footer text-muted fondo-headfoot">
        <div class="container text-center">
            <span class="text-white">&copy; 2024 - Gimnasio Bergondo - <a asp-controller="Home" asp-action="Privacy" class="link-light">Ver privacidad</a> - <a class="link-light" asp-controller="Home" asp-action="FAQs">FAQs</a></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
