@model List<Gimnasio.Models.Usuario>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h6>Participantes</h6>
<ul>
@foreach(Usuario alumno in Model)
{
    <li>@alumno.Nombre @alumno.Apellidos</li>
}
</ul>