@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Gimnasio.Transporte.ContratoDTO
@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        El usuario no tiene contrato en el gimnasio.
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        <ul>
            <li>Fecha de inicio: @Model.FechaInicio</li>
            <li>Fecha de fin: @Model.FechaFin</li>
            @{
                string formaPago = Model.FormaPago.ToString();
                string resultado = formaPago != null ? char.ToUpper(formaPago[0]) + formaPago.Substring(1).ToLower() : "";
            }
            <li>Método de pago: @resultado</li>
        </ul>
    </div>
}