@model Gimnasio.Transporte.UsuarioDTO
@{
    ViewData["Title"] = "Editar datos";
}
<h1 class="text-center my-3">Modificación de datos</h1>

<div class="my-3 p-3">
    <p>Aquí puedes acceder y actualizar tus detalles personales para asegurarte de que siempre tengamos la información más actualizada y precisa sobre ti.</p>
    <p>Estamos comprometidos a proteger tu privacidad y seguridad. Si necesitas ayuda o tienes alguna pregunta sobre cómo gestionar tus datos, no dudes en ponerte en contacto con nuestro equipo de atención al cliente.</p>
</div>

<div class="alert alert-info" role="alert">
    En caso de no cargar ninguna foto de perfil, permanecería la que ya está cargada.
</div>
<div class="row justify-content-center border border-2 border-dark bg-white p-4 mt-3 mb-4 shadow-lg">
    <form asp-action="Modificar" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FotoFronted">Foto de perfil</label>
                    <label asp-for="FotoFronted" class="control-label drop-container" id="dropcontainer">
                        <span class="drop-title">Arrastrar imagen aquí</span> o
                        <input type="file" asp-for="FotoFronted" class="form-control" id="images" />
                    </label>
                    <span asp-validation-for="FotoFronted" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-3 align-items-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group col-md-6">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="DNI" class="control-label"></label>
                        <input asp-for="DNI" class="form-control" />
                        <span asp-validation-for="DNI" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="FechaNacimiento" class="control-label"></label>
                        <input asp-for="FechaNacimiento" class="form-control" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-7">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <label asp-for="Poblacion" class="control-label"></label>
                        <input asp-for="Poblacion" class="form-control" />
                        <span asp-validation-for="Poblacion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Modificar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/ModificacionUsuario.js"></script>
<script src="~/js/ValidacionCamposUsuario.js"></script>