@model Gimnasio.Models.Usuario

@{
    ViewData["Title"] = "Nuevo Usuario";
}

<h1 class="my-3 text-center">Registrarse como nuevo usuario</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Registro" method="post" class="row g-3 align-items-center" id="FormularioUsuario" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="col-md-6">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" placeholder="Apellidos"/>
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" placeholder="DNI" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input type="date" asp-for="FechaNacimiento" class="form-control"/>
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" placeholder="Dirección"/>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Poblacion" class="control-label"></label>
                <input asp-for="Poblacion" class="form-control" placeholder="Población"/>
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="Teléfono"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Correo electrónico"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Contraseña"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Repetir contraseña"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div col-md-12>
                    <label asp-for="FotoFronted" style="font-size: 18px;">Foto de perfil</label>
                    <label asp-for="FotoFronted" class="control-label drop-container" id="dropcontainer">
                        <span class="drop-title">Arrastrar imagen aquí</span> o
                        <input type="file" asp-for="FotoFronted" class="form-control" id="images" />
                    </label>
                    <span asp-validation-for="FotoFronted" class="text-danger"></span>
            </div>
            <div class="form-group text-center my-3">
                <input type="submit" value="Darse de alta" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-center">
            <p>Ya tienes cuenta? <a asp-controller="Login" asp-action="Index">Inicia sesión</a></p>
        </div>
      
    </div>
</div>

<script src="~/js/RegistroForm.js"></script>
<script src="~/js/ValidacionCamposUsuario.js"></script>